@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --accent: #5d50fa;
  --black: #131313;
  --gray: #f9f9f9;
  --blue-gray: #f7f7fb;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}

section {
  min-width: 100%;
  min-height: 100vh;
  color: var(--black);
}

/* NAVBAR */

nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  background-color: white;
  padding: 30px 50px;
  transition: all 0.1s ease-in-out;
  filter: drop-shadow(5px 5px 10px transparent);
}

/* Navbar sticky */
nav.sticky {
  background-color: white;
  filter: drop-shadow(5px 5px 10px rgba(194, 184, 255, 0.5));
}

.brand {
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  color: var(--black);
}

.brand h1 {
  font-size: 32px;
  font-weight: bold;
}

.accent {
  color: var(--accent);
}

.brand:hover {
  opacity: 0.8;
}

/* Navbar menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.menu a {
  display: inline-block;
  position: relative;
  color: var(--black);
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}
.menu a::after {
  color: var(--accent);
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btn-2 {
  width: 160px;
  height: 50px;
  font-size: 20px;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 12px;
  color: white;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));

}

.btn-2:hover{
    background-color: var(--black);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
    
}
